<footer>
    <div class="wrapper">
        <div class="col">
            <h5>Contact Info</h5>
            <div class="phone-icon" style="background-image: url('{{site.baseurl}}/images/phone.png');">(414) 755-5880</div>
            <br />
            <div class="internet-icon" style="background-image: url('{{site.baseurl}}/images/internet.png');">Info@SoundsoftheNight.com</div>
        </div>
        <div class="col">
            <h5>About Us</h5>
            <p>
                Sounds of the Night DJ Service is a locally owned and operated business. We have been DJ&#39;ing in the Milwaukee area for
                the past ten years and our staff is made up of only the most professional and experienced DJ&#39;s.
            </p>
            <a href="{{site.baseurl}}/about-us/">Read more about us >></a>
        </div>
        <div class="col">
            <h5>Site Links</h5>
            <ul>
                <li><a href="{{site.baseurl}}/about-us/" title="About Us" rel="About Us">About Us</a></li>
                <li><a href="{{site.baseurl}}/testimonials/">Testimonials</a></li>
                <li><a href="{{site.baseurl}}/events/" title="Events" rel="Events">Events</a></li>
                <li><a href="{{site.baseurl}}/wedding-package/" title="wedding-package">Wedding Package</a></li>
                <li><a href="{{site.baseurl}}/contract/" title="contract">Contract</a></li>
                <li><a href="{{site.baseurl}}/photos/" title="Photos">Photos</a></li>
            </ul>
        </div>
    </div>
</footer>