<footer>
    <div class="wrapper">
        <div class="col">
            <h5>Contact Info</h5>
            <div class="phone-icon">(414) 755-5880</div>
            <br />
            <div class="internet-icon">Info@SoundsoftheNight.com</div>
        </div>
        <div class="col">
            <h5>About Us</h5>
            <p>
                Sounds of the Night DJ Service is a family owned and operated business. We have been DJ&#39;ing in the Milwaukee area for
                the past seven years and our staff is made up of only the most professional and experienced DJ&#39;s.
            </p>
            <a href="{{base}}/about-us/">Read more about us >></a>
        </div>
        <div class="col">
            <h5>Site Links</h5>
            <ul>
                <li><a href="{{base}}/about-us/" title="About Us" rel="About Us">About Us</a></li>
                <li><a href="{{base}}/testimonials/">Testimonials</a></li>
                <li><a href="{{base}}/events/" title="Events" rel="Events">Events</a></li>
                <li><a href="{{base}}/wedding-package/" title="wedding-package">Wedding Package</a></li>
                <li><a href="{{base}}/dance-package/" title="dance-package">Dance Package</a></li>
                <li><a href="{{base}}/contract/" title="contract">Contract</a></li>
                <li><a href="{{base}}/music/" title="Music">Music</a></li>
                <li><a href="{{base}}/photos/" title="Photos">Photos</a></li>
            </ul>
        </div>
    </div>
</footer>