<nav class="desktop">
    <ul>
        <li>
            <a class="{% if page.section == 'about-us' %}
                  active
                  {% elsif page.section == 'testimonials' %}
                  active
                  {% endif %}" href="{{site.baseUrl}}/about-us" title="About Us">About Us</a>
            <ul>
                <li>
                    <a href="{{site.baseUrl}}/testimonials/" title="Testimonials" rel="Testimonials">Testimonials</a>
                </li>
            </ul>
        </li>
        <li><a class="{% if page.section == 'events' %} active{% endif %}" href="{{site.baseUrl}}/events/" title="Events" rel="Events">Events</a></li>
        <li><a class="{% if page.section == 'pricing' %} active {% elsif page.section == 'wedding-package' %}
                  active {% elsif page.section == 'dance-package' %}
                  active {% endif %}" href="#" title="Pricing">Pricing</a>
            <ul>
                <li><a href="{{site.baseUrl}}/wedding-package/" title="Wedding-Package">Wedding Package</a></li>
                <li><a href="{{site.baseUrl}}/dance-package/" title="Dance-Package">Dance Package</a></li>
            </ul>
        </li>
        <li><a class="{% if page.section == 'contract' %} active{% endif %}" href="{{site.baseUrl}}/contract/" title="Contract">Contract</a></li>
        <li><a class="{% if page.section == 'music' %} active{% endif %}" href="{{site.baseUrl}}/music/" title="Music">Music</a></li>
        <li><a class="{% if page.section == 'photos' %} active{% endif %}" href="{{site.baseUrl}}/photos/" title="Photos">Photos</a></li>
    </ul>
</nav>
<nav class="mobile">
    <select id="mobile-select">
        <option value="{{site.baseUrl}}">Home</option>
        <option {% if page.section == 'contact-us' %}
                selected
                {% endif %} value="{{site.baseUrl}}/contact-us">Contact Us</option>
        <option {% if page.section == 'about-us' %}
                selected
                {% endif %} value="{{site.baseUrl}}/about-us">About Us</option>
        <option {% if page.section == 'testimonials' %}
                selected
                {% endif %} value="{{site.baseUrl}}/testimonials">Testimonials</option>
        <option {% if page.section == 'events' %}
                selected
                {% endif %} value="{{site.baseUrl}}/events">Events</option>
        <option {% if page.section == 'wedding-package' %}
                selected
                {% endif %} value="{{site.baseUrl}}/wedding-package">Wedding Package</option>
        <option {% if page.section == 'dance-package' %}
                selected
                {% endif %} value="{{site.baseUrl}}/dance-package">Dance Package</option>
        <option {% if page.section == 'contract' %}
                selected
                {% endif %} value="{{site.baseUrl}}/contract">Contract</option>
        <option {% if page.section == 'music' %}
                selected
                {% endif %} value="{{site.baseUrl}}/music">Music</option>
        <option {% if page.section == 'photos' %}
                selected
                {% endif %} value="{{site.baseUrl}}/photos">Photos</option>
    </select>
</nav>