<!DOCTYPE html>
<html>

{% include head.html %}
<body>
    {% include header.html %}
    <div class="wrapper">
        <div class="content">
            <div class="sidebar">
                {% include sidebar.html %}
            </div>
            <div class="text">
                {{ content }}
            </div>
        </div>
    </div>

{% include footer.html %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" defer integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="{{site.baseUrl}}/scripts/main.js" defer type="text/javascript" ></script>
</body>

</html>